<!DOCTYPE html>
<html>
<head>
<title>Buzz's Group</title>
<link rel="stylesheet" href="/style.css" type="text/css">
<meta name="description" content="">
<meta charset="utf-8"/>
<meta name="keywords" content="keywords">
</head>
<body>
<div align="center">
<div id="container_big">
<div id="container">
<div id="header">
<div id="logo">
<a>Ideas</a>
</div>

<section id="menu">
<a href="/home" target="asd">HOME</a>
<a href="/Traffic" target= "asd">TRAFIC REPORT</a>
<a href="/Notes" target="asd">Sticky-Notes</a>       
<a href="/FriendsFinder" target="asd">Friends Finder</a>       
<a href="/developers" target="asd">DEVELOPERS</a>       
</section>

</div>




<!-- content begin -->
<section id="content">

<iframe name="asd" href ="/home.html" width="810" height="400" seamless>

</iframe>

</section>

</div>
<!-- content end -->

</div>

</div>

</body></html>
