  <header>
  <h1>Buzz Group</h1>
  </header>
  <section>
    <ul id="lista">
      <li type="disc">Maria Fernanda Anariva</li>
      <li type="disc">Javier Suazo</li>
      <li type="disc">Gerardo Alonzo</li>
    </ul>
  <section/>
