<div id="container"> 
	<header id="page-header"> 
    	
    </header> 
    <article id="page-content"> 
        <section> 
            <hgroup> 
                <h1>Sticky-Notes,Post-It Notes, etc... En la Web</h1> 
                <h2>¡¡¡Colecciona tus notas de forma organizada, y accede desde cualquier computadora!!!</h2> 
            </hgroup> 
            <p>Si eres de las personas que les gusta usar pequeñas notas para guardar información X, que solo es relevante (a lo mejor) para ti, como 			ser:</p> 
            <ul id="lista2"> 
                <li>Recordatorios</li> 
                <li>Alguna canción/película/video/etc que escuchastes y no pudistes bajar en el momento (No a la Piratería jajaja.)</li> 
                <li>Retazos de información muy importante.</li> 
                <li>Algún sitio interesante. (Algunos navegadores guardan las pestañas pero a veces ya no caben mas!!!)</li> 
                <li>Cualquier babosada que se te ocurra.</li> 
            </ul>
	    <p>Pues te encuentras en el sitio acertado, aqui podrás organizar de manera simple todas esas ideas/texto/etc que tienes en la cabeza. Ya que estarán correctamente categorizados, acompañados de vistazos rápidos y descripciones cortas pero concretas para así recordarlas más rápido.</p>
            <!-- <ol> 
                <li>Lorem ipsum dolor sit amet</li> 
                <li>Lorem ipsum dolor sit amet</li> 
                <li>Lorem ipsum dolor sit amet</li> 
                <li>Lorem ipsum dolor sit amet</li> 
                <li>Lorem ipsum dolor sit amet</li> 
            </ol> --> 
        </section> 
        <aside>

	
	<h1>Descripción del Producto</h1> 
            <p>La idea principal es proporcionar a los clientes un acceso a sus notas de forma rápida, sencilla, y con el menor esfuerzo posible. Dandole 			las herramientas al cliente para categorizar/organizar su información a su gusto, describirla, manipularla, etc. Pero se centra más en 			estos puntos:</p> 
            <ul id="lista"> 
                <li>El cliente puede organizar sus notas de la manera que desee, creando sus propias categorías y/o utilizando las predefinidas.</li> 
                <li>Cada elemento contendrá una descripción corta y precisa del contenido de la nota, preferiblemente sin necesidad de dar click.</li> 
                <li>Algunos elementos multimedia podrían acompañar las notas. (Como videos, imágenes, etc.)</li> 
                <li>La capacidad de compartir sus notas con quien desee.</li> 
                <li>Acceder a la información desde cualquier navegador, celular o dispositivo con acceso a Internet.</li> 
            </ul>

            <h1>Retos Técnicos</h1> 
            <p>La idea involucra algunos elementos multimedia, ya que se desea ofrecerle al usuario una vista previa/vistazo rápido dependiendo del tipo de elemento con que se este trabajando. Por ejemplo para algún sitio registrado debería poder ofrecerse una pequeña imágen del sitio, para algún video podría ofrecerse unos pocos segundos del video, así como las canciones(Aunque aqui es más limitado por los derechos de autor, etc.).
Pero más importante aún es el manejo de la información ya que involucraría una base de datos para manejar los clientes así como algún espacio en algún servidor para guardar su información.</p> 

	    <h1>Prinicpales Contrincantes</h1> 
            <li><a href="mystickies.com">MyStickies</a></li>
            <li><a href="diigo.com">Diigo</a></li> 
	<hr></hr>	
        </aside> 
    </article>          
</div> 
