body {
	font-family: 'Neucha', arial, serif; 	
	background-color:#FFF;
	color:#000;
}

.qitem {
	/* width and height must be even number */
	width:1000px;
	height:600px;	
	
	/* some styling for the item */
	border:4px solid #222;	
	margin:15px 15px 15px 0;

	
	/* make sure the four divs are hidden after changing the position */
	overflow:hidden;
	
	/* absolute position enabled for children elements*/
	position:relative;
	left:130px;	
	/* display item in single row */
	float:left;
	
	
}

	.qitem img {
		border:0;
	}

	/* styling for caption, position absolute is a must to set the z-index */
	.qitem .caption {
		position:absolute;
		z-index:0;	
		color:#ccc;
		display:block;
	}

		.qitem .caption h4 {
			font-size:12px;
			padding:10px 5px 0 8px;
			margin:0;
			color:#369ead;
		}

		.qitem .caption p {
			font-size:10px;	
			padding:3px 5px 0 8px;
			margin:0;
		}



/* Generic setting for corners */
.topLeft, .topRight, .bottomLeft, .bottomRight {
	/* allow javascript to move the corners */
	position:absolute;
	background-repeat: no-repeat; 
	z-index:200;
}

/* set the background position for different corners */
.topLeft {
	background-position: top left; 	
} 

.topRight {
	background-position: top right; 
} 

.bottomLeft {
	background-position: bottom left; 
} 

.bottomRight {
	background-position: bottom right; 
}

.clear {
	clear:both;	
}

#navi {  
	list-style:none;
	margin:0;
	padding:0;
	left:300px;
}
#navi li {
	margin:2px;
	padding:0; 
	float:left;
}
#navi li a {
	display:block; 
	width:100px;
	padding:4px 0;
	text-decoration:none;
	text-align:center;
	font-size:20px;
	color:#FFFFFF;
	background-color:#000000;
}

#navi li a:hover {
	color:#99CC00;
	background-color:#003366;
}
