
  <div>
    <p id="address"> <%=@alert.lugar %>, Tegucigalpa</p>
    <p id="content"> <%= @alert.content%> </p>
    <!--<input type="button" value="Geocode" onclick="codeAddress()">-->
  </div>
<div id="map_canvas"></div>



<div>
<ul>
<%@comentarios.each do |t|%>
<li><%=t.content%></li>
<br/>
<%end%>
</ul>
</div>
