<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Traffic Report</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
=======
  <title>Buzz</title>
  <%= stylesheet_link_tag :all,"formtastic","style",:cache=>true %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'> 
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
>>>>>>> 1f7087f81255f50c3ac3ac36581b4609041a8a3b
</head>
<body>
<div id="page">
    <h1>Traffic Report</h1>
    <div id="slideshowContainer">
        <div id="slideshow">
            <img src="/images/traffic_prueba1.jpg" width="300" height="300" alt="Imagen1">
            <img src="/images/traffic_prueba2.jpg" width="300" height="300" alt="Imagen2">
            <img src="/images/traffic_prueba3.jpg" width="300" height="300" alt="Imagen3">
        </div>
        </div>
    <h2>Subscribe</h2>
    <form method="post" action="">
        <input type="text" id="email" name="email" value="<?php echo $msg?>" />
        <input type="submit" value="Submit" id="submitButton" />
    </form>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>

<script src="/javascripts/script.js"></script>
</body>
</html>
