<!DOCTYPE html>
<html>
<head>
  <title>TrafficReport</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <link href="http://fonts.googleapis.com/css?family=Reenie+Beanie" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>

</head>
<body>

<%= yield %>

</body>
</html>
